GOOGLE_API_KEY = ""
GOOGLE_CSE_ID = ""
OPENAI_API_KEY="sk-"
OPENAI_BASE_URL=""

APP_ID = "cli_"
APP_SECRET = ""
VERIFICATION_TOKEN = "cq3xxxxxxkUS"
ENCRYPT_KEY = ""
TENANT_ACCESS_TOKEN = ""
LARK_HOST = "https://open.feishu.cn"


HTTP_PROXY=""
HTTPS_PROXY=""

USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"